language: node_js
node_js:
  - "node"

install:
    - yarn

cache: yarn

script: yarn run build

deploy:
provider: pages
skip_cleanup: true
github_token: $GITHUB_TOKEN
local_dir: dist
on:
  branch: master
